@using  Диплом2.Models
@model IEnumerable<Letter>
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{


@if (Model != null)
    {
<div class="tickets">
    <table class="table table-bordered" style="width:100%;">

        <thead class="thead-light">
            <tr>

                <th scope="row" style="text-align:center;">Номер заказа</th>
                <th scope="col" style="vertical-align: middle;">Краткое описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="ticket" style="width:100%;">
                    <th scope="row" style="text-align:center; vertical-align:middle; margin:0px;" width:5vw;">
                        <p style="margin: 0px;"> @item.Theme </p>

                    </th>
                    <td style="word-wrap:break-word; width:42vw"><p style="width:30vw;word-wrap:break-word; margin-bottom:0px; ">@item.Text </p></td>
                    <td style="text-align:center;width:5vw; vertical-align:middle; margin-bottom:0px; "> <form method="post" asp-controller="Home" asp-action="Ticket"><input style="display:none" type="text" name="id" value="@item.Theme" /> <input class="btn btn-dark" type="submit" value="Открыть" /></form> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    }
}
else
{
<a asp-controller="Account" asp-action="Login">Вход</a>
<a asp-controller="Account" asp-action="Register">Регистрация</a>
}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script>
    $(document).ready(function () {

        $('.open-form').click(function () {
            $('.form-popup').show();
        });
        $('.close-form').click(function () {
            $('.form-popup').hide();
        });

        $('.reset-form').click(function () {
            $('.success-message').show();
            $('#my-form').trigger('reset');

            setTimeout(function () {
                $('.success-message').hide()
            }, 1500);
        });

        $(document).mouseup(function (e) {
            var container = $(".form-wrapper");
            var form = $(".form-popup");

            if (!container.is(e.target) && container.has(e.target).length === 0) {
                form.hide();
            }
        });


    });
</script>
