@model Диплом2.ViewModels.LoginViewModel
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body class="login-body">

    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:48vh;" class="col-md-12">
                        <form id="login-form" class="form" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                            <div asp-validation-summary="ModelOnly"></div>
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label asp-for="Email" class="text-info">Username:</label><br>
                                <input asp-for="Email"  class="form-control">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="text-info">Password:</label><br>
                                <input asp-for="Password" type="password" name="password" id="password" class="form-control">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label  asp-for="RememberMe" class="text-info"><span>Remember me</span> <span><input  asp-for="RememberMe" id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/Account/Register" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    @*<div id="login">
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div style="display:flex;margin-top: 10px;">
                <label style="display: inline-block; margin-bottom: .5rem; margin-right: 10px;" asp-for="RememberMe"></label>
                <input style="box-sizing: border-box; padding: 0; height: 30px; width: 20px;" asp-for="RememberMe" />
            </div>
            <div>   <a style="color:Highlight;" id="go" href="/Account/Register">Зарегистрироватья</a></div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </form>
    </div>
</body>*@